# Copyright (C) 2026, Alexander K <https://github.com/drA1ex>
#
# This file may be distributed under the terms of the GNU GPLv3 license.

# AD5M extruder board with its stock 64KiB bootloader.
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_STM32_CLOCK_REF_12M=y
CONFIG_STM32_SERIAL_USART1=y
CONFIG_SERIAL_BAUD=230400
CONFIG_INITIAL_PINS=""
CONFIG_MACH_N32G455=y
CONFIG_STM32_FLASH_START_10000=y
CONFIG_FLASHFORGE_AD5M_EBOARD=y
