# Copyright (C) 2026, Alexander K <https://github.com/drA1ex>
#
# This file may be distributed under the terms of the GNU GPLv3 license.

# Replacement mainboard MCU from ff5m discussion #94; direct SWD flashing.
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_STM32_CLOCK_REF_12M=y
CONFIG_STM32_SERIAL_USART1=y
CONFIG_SERIAL_BAUD=230400
CONFIG_INITIAL_PINS=""
CONFIG_MACH_STM32F103=y
CONFIG_MACH_STM32F103xE=y
CONFIG_STM32_FLASH_START_0000=y
